html,
body {
    width: 100%;
    height: 100%;
    background-color: forestgreen;
    margin: 0;
    padding: 0
}

.container {
    height: 50%;
    width: 100%;
    background-color: red;
    margin: 0;
    padding: 0;
}

.row {
    height: calc(100%/19);
    width: 90%;
    margin: 0 auto;
}

.row:nth-child(2n + 2) { /* This is the same as "even"*/
    background-color: purple;
}

.row:nth-child(odd) {
    background-color: yellow;
}

.row:hover {
    background-color: gray;
}

/*.row:first-child {
    background-color: orange;
}

.row:last-child {
    background-color: dodgerblue;
}*/