@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900italic);

html, body {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}